<!-- top-bar -->
<div class="" style="background-color: var(--pink)">
  <div class="tw-w-10/12 tw-flex tw-justify-between tw-mx-auto tw-py-1">
    <!-- group-1 -->
    <div class="tw-flex tw-text-[10px]">
      <div class="tw-mr-2 tw-flex tw-items-center">
        <img
          class="tw-mr-2 tw-w-2 tw-h-2 tw-mt-[1px]"
          src="../../assets/icons/uil_envelope-alt.svg"
          alt=""
        />
        <div class="">masalabazaar@gmail.com</div>
      </div>
      <div class="tw-flex tw-mr-2 tw-items-center">
        <img
          class="tw-mr-2 tw-w-2 tw-h-2 tw-mt-[1px]"
          src="../../assets/icons/bx_bx-phone-call.svg"
          alt=""
        />
        <div class="">(12345)67890</div>
      </div>
    </div>

    <!-- group-2 -->
    <div class="tw-flex tw-justify-end tw-text-[10px]">
      <select
        name=""
        id=""
        class="tw-mr-2 tw-outline-none"
        style="background-color: var(--pink)"
      >
        <option value="English" class="tw-bg-white">English</option>
        <option value="বাংলা" class="tw-bg-white">বাংলা</option>
      </select>
      <select
        name=""
        id=""
        class="tw-mr-2 tw-outline-none"
        style="background-color: var(--pink)"
      >
        <option value="English" class="tw-bg-white">BDT</option>
        <option value="বাংলা" class="tw-bg-white">USD</option>
      </select>
      <div class="tw-mr-1">Wishlist</div>
      <img
        class="tw-w-3 tw-h-3 tw-mt-[2px]"
        src="../../assets/icons/uil_heart-alt.svg"
        alt=""
      />
    </div>
  </div>
</div>

<div class="" style="background-color: var(--page-background-color)">
  <!-- navbar -->
  <div class="tw-w-10/12 tw-mx-auto">
    <div class="tw-flex tw-justify-between tw-py-1">
      <div class="tw-h-5 tw-w-48">
        <img class="" src="../../assets/icons/masalaBazaarLogo.svg" />
      </div>
      <div class="tw-flex tw-flex-col tw-items-end tw-w-[80vw]">
        <!-- group-1 -->
        <div class="tw-flex tw-mb-2">
          <div
            class="tw-flex tw-items-center tw-justify-center tw-w-6 tw-mr-2 tw-rounded-br-3xl tw-rounded-r-md tw-rounded-b-md tw-h-5"
            style="background-color: var(--navbar-icon-color)"
          >
            <img
              class="tw-w-3 tw-h-3"
              src="../../assets/icons/uil_search.svg"
            />
          </div>
          <div
            class="tw-mr-2 tw-flex tw-items-center tw-justify-cent10 tw-w-6 tw-rounded-br-3xl tw-rounded-r-md tw-rounded-b-md tw-h-5"
            style="background-color: var(--navbar-icon-color)"
          >
            <img
              class="tw-mx-auto tw-w-3 tw-h-3"
              src="../../assets/icons/user.svg"
            />
          </div>
          <div
            class="tw-flex tw-items-center tw-justify-center tw-w-6 tw-rounded-br-3xl tw-rounded-r-md tw-rounded-b-md tw-h-5"
            style="background-color: var(--navbar-icon-color)"
          >
            <img
              class="tw-w-3 tw-h-3"
              src="../../assets/icons/shopping-cart.svg"
            />
          </div>
        </div>

        <!-- group-2 -->
        <div class="tw-flex tw-text-xs group-2">
          <a href="">Home</a>
          <img
            class="tw-w-3 tw-h-3 tw-mt-[3px]"
            src="../../assets/icons/akar-icons_chevron-down.svg"
          />
          <div
            class="tw-w-[2px] tw-h-4 lg:tw-mx-8 tw-mx-2"
            style="background-color: var(--navbar-divider-color)"
          ></div>
          <a href="">Products</a>
          <div
            class="tw-w-[2px] tw-h-4 lg:tw-mx-8 tw-mx-2"
            style="background-color: var(--navbar-divider-color)"
          ></div>
          <a href="">Blog</a>
          <div
            class="tw-w-[2px] tw-h-4 lg:tw-mx-8 tw-mx-2"
            style="background-color: var(--navbar-divider-color)"
          ></div>
          <a href="">About Us</a>
          <div
            class="tw-w-[2px] tw-h-4 lg:tw-mx-8 tw-mx-2"
            style="background-color: var(--navbar-divider-color)"
          ></div>
          <a href="">Contact</a>
          <!-- <img class="line-12" src="line-121.png" /> -->
        </div>
      </div>
    </div>
  </div>

  <div class="tw-w-10/12 tw-mx-auto">
    <!-- Latest Products -->

    <div class="">
      <h1 class="tw-text-lg tw-font-bold">Latest Products</h1>

      <!-- button-group -->
      <div class="tw-my-4 tw-text-xs">
        <ul>
          <a
            href=""
            class="tw-px-3 tw-py-[6px] tw-mr-5 tw-bg-white tw-rounded-lg hover:tw-bg-yellow-400"
            >New Arrival</a
          >
          <a
            href=""
            class="tw-px-3 tw-py-[6px] tw-mr-5 tw-bg-white tw-rounded-lg hover:tw-bg-yellow-400"
            >Best Sell</a
          >
          <a
            href=""
            class="tw-px-3 tw-py-[6px] tw-mr-5 tw-bg-white tw-rounded-lg hover:tw-bg-yellow-400"
            >Featured</a
          >
          <a
            href=""
            class="tw-px-3 tw-py-[6px] tw-mr-5 tw-bg-white tw-rounded-lg hover:tw-bg-yellow-400"
            >Special Offer</a
          >
        </ul>
      </div>

      <div class="">
        <!-- see all button -->
        <div class="tw-flex tw-justify-end tw-underline tw-text-xs">
          <a href="" class="" style="color: var(--navbar-icon-color)"
            >See All</a
          >
        </div>
        <!-- card-group -->
        <app-navbar></app-navbar>
      </div>
    </div>

    <!-- Flash Deals -->

    <div class="">
      <h1 class="tw-text-lg tw-font-bold">Flash Deals</h1>

      <!-- button-group -->
      <div class="tw-my-4 tw-text-xs">
        <ul class="tw-flex tw-justify-end">
          <span
            class="tw-flex tw-items-center tw-text-lg"
            style="color: var(--navbar-icon-color)"
          >
            <p class="tw-font-semibold">Hurry Up!</p>
            <p class="tw-mx-2">Offer ends in:</p>
          </span>
          <p
            class="tw-px-3 tw-py-[6px] tw-mr-2 tw-rounded-lg hover:tw-bg-yellow-400 tw-text-white"
            style="background-color: var(--navbar-icon-color)"
          >
            <strong>15</strong>&nbsp;<small>days</small>
          </p>
          <p
            class="tw-px-3 tw-py-[6px] tw-mr-2 tw-rounded-lg hover:tw-bg-yellow-400 tw-text-white"
            style="background-color: var(--navbar-icon-color)"
          >
            <strong>05</strong>&nbsp;<small>hours</small>
          </p>
          <p
            class="tw-px-3 tw-py-[6px] tw-mr-2 tw-rounded-lg hover:tw-bg-yellow-400 tw-text-white"
            style="background-color: var(--navbar-icon-color)"
          >
            <strong>25</strong>&nbsp;<small>minutes</small>
          </p>
          <p
            class="tw-px-3 tw-py-[6px] tw-rounded-lg hover:tw-bg-yellow-400 tw-text-white"
            style="background-color: var(--navbar-icon-color)"
          >
            <strong>25</strong>&nbsp;<small>seconds</small>
          </p>
        </ul>
      </div>

      <div class="">
        <!-- see all button -->
        <div class="tw-flex tw-justify-end tw-underline tw-text-xs">
          <a href="" class="" style="color: var(--navbar-icon-color)"
            >See All</a
          >
        </div>
        <!-- card-group -->
        <app-navbar></app-navbar>
      </div>
    </div>

    <!-- Trending Products -->

    <div class="">
      <h1 class="tw-text-lg tw-font-bold">Trending Products</h1>

      <div
        class="my-4 tw-pb-2 tw-grid mini:tw-grid-cols-1 mobile:tw-grid-cols-2 tw-grid-cols-4 tw-gap-4 tw-justify-items-center"
      >
        <!-- card-group -->
        <!-- card-1 -->
        <div class="tw-flex">
          <div
            class="tw-bg-white tw-mb-0 tw-relative tw-drop-shadow-lg tw-rounded-2xl product-card"
          >
            <!-- heart -->
            <div class="tw-absolute tw-right-4 tw-top-4">
              <a href="">
                <img
                  class="tw-w-4 tw-h-4"
                  src="../../assets/icons/whislist.svg"
                />
              </a>
            </div>
            <!-- main-pic -->
            <div class="tw-mx-auto tw-pt-8 tw-h-[30vh]">
              <img
                class="tw-w-full tw-h-full"
                src="../../assets/images/chicken1.png"
              />
            </div>
            <!-- description -->
            <div
              class="tw-font-medium tw-my-2 tw-text-xs tw-flex tw-justify-center"
            >
              <a href=""> Catla Fish processing (Big Size) </a>
            </div>
            <!-- price -->
            <div class="tw-flex tw-text-xs tw-ml-2 tw-justify-center">
              <div class="" style="color: var(--navbar-icon-color)">
                <span class="tw-text">Tk-200/</span
                ><span class="tw-mr-2">kg</span>
              </div>
              <div class="tw-text-gray-500">
                <span class="tw-line-through">Tk-225/</span
                ><span class="tw-line-through">kg</span>
              </div>
            </div>
            <!-- starts -->
            <div
              class="tw-flex tw-justify-around tw-w-[50%] tw-mx-auto tw-pt-1 tw-pb-3"
            >
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/halfFilledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/blankStar.svg"
                alt=""
              />
              <span class="tw-text-xs">(25)</span>
            </div>

            <!-- quantity -->
            <!-- <div class="">
            <span class="">Sold:</span>
            <span class="">450/526</span>
          </div> -->
          </div>
        </div>
        <!-- card-1 -->
        <div class="tw-flex">
          <div
            class="tw-bg-white tw-mb-0 tw-relative tw-drop-shadow-lg tw-rounded-2xl product-card"
          >
            <!-- heart -->
            <div class="tw-absolute tw-right-4 tw-top-4">
              <a href="">
                <img
                  class="tw-w-4 tw-h-4"
                  src="../../assets/icons/whislist.svg"
                />
              </a>
            </div>
            <!-- main-pic -->
            <div class="tw-mx-auto tw-pt-8 tw-h-[30vh]">
              <img
                class="tw-w-full tw-h-full"
                src="../../assets/images/chicken1.png"
              />
            </div>
            <!-- description -->
            <div
              class="tw-font-medium tw-my-2 tw-text-xs tw-flex tw-justify-center"
            >
              <a href=""> Catla Fish processing (Big Size) </a>
            </div>
            <!-- price -->
            <div class="tw-flex tw-text-xs tw-ml-2 tw-justify-center">
              <div class="" style="color: var(--navbar-icon-color)">
                <span class="tw-text">Tk-200/</span
                ><span class="tw-mr-2">kg</span>
              </div>
              <div class="tw-text-gray-500">
                <span class="tw-line-through">Tk-225/</span
                ><span class="tw-line-through">kg</span>
              </div>
            </div>
            <!-- starts -->
            <div
              class="tw-flex tw-justify-around tw-w-[50%] tw-mx-auto tw-pt-1 tw-pb-3"
            >
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/halfFilledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/blankStar.svg"
                alt=""
              />
              <span class="tw-text-xs">(25)</span>
            </div>

            <!-- quantity -->
            <!-- <div class="">
            <span class="">Sold:</span>
            <span class="">450/526</span>
          </div> -->
          </div>
        </div>
        <!-- card-1 -->
        <div class="tw-flex">
          <div
            class="tw-bg-white tw-mb-0 tw-relative tw-drop-shadow-lg tw-rounded-2xl product-card"
          >
            <!-- heart -->
            <div class="tw-absolute tw-right-4 tw-top-4">
              <a href="">
                <img
                  class="tw-w-4 tw-h-4"
                  src="../../assets/icons/whislist.svg"
                />
              </a>
            </div>
            <!-- main-pic -->
            <div class="tw-mx-auto tw-pt-8 tw-h-[30vh]">
              <img
                class="tw-w-full tw-h-full"
                src="../../assets/images/chicken1.png"
              />
            </div>
            <!-- description -->
            <div
              class="tw-font-medium tw-my-2 tw-text-xs tw-flex tw-justify-center"
            >
              <a href=""> Catla Fish processing (Big Size) </a>
            </div>
            <!-- price -->
            <div class="tw-flex tw-text-xs tw-ml-2 tw-justify-center">
              <div class="" style="color: var(--navbar-icon-color)">
                <span class="tw-text">Tk-200/</span
                ><span class="tw-mr-2">kg</span>
              </div>
              <div class="tw-text-gray-500">
                <span class="tw-line-through">Tk-225/</span
                ><span class="tw-line-through">kg</span>
              </div>
            </div>
            <!-- starts -->
            <div
              class="tw-flex tw-justify-around tw-w-[50%] tw-mx-auto tw-pt-1 tw-pb-3"
            >
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/halfFilledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/blankStar.svg"
                alt=""
              />
              <span class="tw-text-xs">(25)</span>
            </div>

            <!-- quantity -->
            <!-- <div class="">
            <span class="">Sold:</span>
            <span class="">450/526</span>
          </div> -->
          </div>
        </div>
        <!-- card-1 -->
        <div class="tw-flex">
          <div
            class="tw-bg-white tw-mb-0 tw-relative tw-drop-shadow-lg tw-rounded-2xl product-card"
          >
            <!-- heart -->
            <div class="tw-absolute tw-right-4 tw-top-4">
              <a href="">
                <img
                  class="tw-w-4 tw-h-4"
                  src="../../assets/icons/whislist.svg"
                />
              </a>
            </div>
            <!-- main-pic -->
            <div class="tw-mx-auto tw-pt-8 tw-h-[30vh]">
              <img
                class="tw-w-full tw-h-full"
                src="../../assets/images/chicken1.png"
              />
            </div>
            <!-- description -->
            <div
              class="tw-font-medium tw-my-2 tw-text-xs tw-flex tw-justify-center"
            >
              <a href=""> Catla Fish processing (Big Size) </a>
            </div>
            <!-- price -->
            <div class="tw-flex tw-text-xs tw-ml-2 tw-justify-center">
              <div class="" style="color: var(--navbar-icon-color)">
                <span class="tw-text">Tk-200/</span
                ><span class="tw-mr-2">kg</span>
              </div>
              <div class="tw-text-gray-500">
                <span class="tw-line-through">Tk-225/</span
                ><span class="tw-line-through">kg</span>
              </div>
            </div>
            <!-- starts -->
            <div
              class="tw-flex tw-justify-around tw-w-[50%] tw-mx-auto tw-pt-1 tw-pb-3"
            >
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/filledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/halfFilledStar.svg"
                alt=""
              />
              <img
                class="tw-w-3 tw-h-3 tw-mt-[2px]"
                src="../../assets/icons/blankStar.svg"
                alt=""
              />
              <span class="tw-text-xs">(25)</span>
            </div>

            <!-- quantity -->
            <!-- <div class="">
            <span class="">Sold:</span>
            <span class="">450/526</span>
          </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
